@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.title,
.instruction,
.footer,
#bar-regular,
#bar-reversed,
#restart {
    background-color: #230C0F;
    color: #CBA328;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    background-color: #CBA328;
    color: #230C0F;
}

input,
.gameplay-image {
    height: 12vh;
    width: 12vh;
    border: solid 0.4vh black;
    border-radius: 10%;
    background-color: #230C0F;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding-top: 1vh;
    font-size: 4.7vh;
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin-top: -2.2vh;
    padding-bottom: 1.1vh;
    font-size: 2.5vh;
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
    height: 17vh;
    font-size: 3.5vh;
    margin-top: -1vh;
}

#round {
    margin-right: 37px;
}

.gameplay-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gameplay {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5vw;
    flex: 1;
}

.player {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.ai {
    margin-top: 7vh;
}

.vertical-line {
    border: 1px solid black;
}

button {
    width: 12vh;
    height: 12vh;
}

.buttons {
    display: flex;
    gap: 5vh;
}

.player,
.ai,
.bar-container {
    align-self: center;
    text-align: center;
}

.player,
.ai {
    margin-bottom: 4.6vh;
}

.bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 65vw;
}

#bar-regular-container,
#bar-reversed-container {
    width: 50%;
    height: 4vh;
    border: solid 2px;
}

#bar-regular-container {
    border-radius: 25px 0 0 25px;
    border-right: solid 2px;
}

#bar-reversed-container {
    border-radius: 0 25px 25px 0;
    border-left: 0;
}

#bar-regular,
#bar-reversed {
    height: 4vh;
}

#bar-regular {
    width: 33%;
    border-radius: 20px 0 0 20px;
}

#bar-reversed {
    width: 60%;
    border-radius: 0 20px 20px 0;
    float: right;
}

.restart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    text-align: center;
    margin-top: -6vh;
}

#restart {
    height: 5vh;
    width: 15vw;
    border: none;
    border: solid 3px black;
    border-radius: 35px;
    font-size: 1.9vh;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition-duration: 0.05s;
}

#restart:hover {
    background-color: #CBA328;
    color: #230C0F;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    text-align: center;
}

#github {
    height: 3vh;
    width: 3vh;
    padding-bottom: 0.2vh;
}