@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.title,
.instruction,
.footer,
#bar-regular,
#bar-reversed,
#restart {
    background-color: #230C0F;
    color: #CBA328;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-size: calc(12px + .8vh);
    font-family: 'Nunito', sans-serif;
    background-color: #CBA328;
    color: #230C0F;
}

.gameplay-image {
    height: 12vh;
    width: 12vh;
    min-height: 120px;
    min-width: 120px;
    border: solid 0.4vh black;
    border-radius: 10%;
    background-color: #230C0F;
    transition: 0.09s;
}

.clicked {
    transform: scale(1.1);
    border-color: #D6F49D;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding-top: 1vh;
    font-size: calc(27px + 2vh);
    min-height: 50px;
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin-top: -2.2vh;
    padding-bottom: 1.1vh;
    font-size: calc(15px + 1vh);
}

.gameplay-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gameplay {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5vw;
    flex: 1;
}

.player,
.ai {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ai {
    gap: 7.5vh;
}

#you,
#ai {
    height: 17vh;
    font-size: calc(30px + 1.7vh);
    margin-top: -5vh;
}

.vertical-line {
    border: 1px solid black;
    height: 38vh;
    margin-top: 13vh;
}

.buttons {
    display: flex;
    gap: 5vh;
}

#qwe {
    margin-bottom: 5vh;
}

.player,
.ai,
.bar-container {
    align-self: center;
    text-align: center;
}

.player,
.ai {
    margin-bottom: 4.6vh;
}

.bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 65vw;
}

#bar-regular-container,
#bar-reversed-container {
    width: 50%;
    height: 4vh;
    border: solid 2px;
    min-height: 30px;
}

#bar-regular-container {
    border-radius: 25px 0 0 25px;
    border-right: solid 2px;
}

#bar-reversed-container {
    border-radius: 0 25px 25px 0;
    border-left: 0;
    min-height: 30px;
}

#bar-regular,
#bar-reversed {
    height: 4vh;
    min-height: 30px;
}

#bar-regular {
    width: 33%;
    border-radius: 20px 0 0 20px;
}

#bar-reversed {
    width: 60%;
    border-radius: 0 20px 20px 0;
    float: right;
}

.restart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    text-align: center;
    margin-top: -6vh;
}

#restart {
    height: 5vh;
    width: 15vw;
    border: none;
    border: solid 3px black;
    border-radius: 35px;
    font-size: calc(10px + 1vh);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition-duration: 0.05s;
    min-width: 150px;
    min-height: 35px;
}

#restart:hover {
    background-color: #CBA328;
    color: #230C0F;
}

#restart:active {
    background-color: #230C0F;
    color: #CBA328;;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    text-align: center;
    min-height: 30px;
    font-size: calc(12px + .5vh);

}

#github {
    height: 3vh;
    width: 3vh;
    padding-bottom: 0.2vh;
    transition: 0.3s;
}

.git {
    transform: scale(1.2) rotate(1turn);
}